services:
  - type: web
    name: garde-mock-server
    rootDir: mock-server
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /
    plan: free
    branch: main

